header {
	font-size: 150%;
	font-style: georgia; 
	text-align: right;  
	background-color: #A0EDC6;
	padding: 30px;
}
body { 
	padding:10px;
	background: ##FFFFFF;
	font-family: georgia;
	font-color: #5C6C6B;
}

h2 {
	color: #4B8B6B;
	font-size: 200%;
	font-family: georgia;
}	
h2:first.toggle(){
	color: #878E8B;
	font-size: 225%;
	font-family: georgia;
	font-style: italic; 
	font-weight: lighter;
}
li {
	color: #4B8B6B;
	padding:10px;
	font-size: 155%; 
}
p {
	padding:30px;
	font-size: 125%;
	font-family: georgia; 
}
form {
	height: 50%
	font-family: georgia;
}
h3 {
	font-color: #878E8B;
	font-size: 140%;
	padding: 5px;
	border-width: 15px;
	background-color: #A0EDC6; 
	font-family: georgia;
}
h4 {
	font-color: #878E8B;
	font-size: 140%;
	font-style: italic; 
	font-weight: lighter;
	font-family: georgia;
	padding: 55px;
	border-width: 25px;
	border-radius: 15px;
	background-color: #A0EDC6; 
}
h5 {
	font-color: #878E8B;
	font-size: 105%;
	padding:35px;
	border-width: 5px;
	background-color: #A0EDC6; 
	font-family: georgia;
	width: 900px;
	height: 175px;
}
fieldset {
	background-color: #A0EDC6;
	width: 900px;
	border: 1px solid #4DAFA7;
	border-radius: 10px;
	padding: 12px;
	text-align: left;
	font-family: georgia;
}
legend {
	background-color: #D9E3DE;
	border: 1px solid #4DAFA7;
	border-radius: 20px;
	padding: 10px 20px;
	text-align: left;
	text-transform: uppercase; 
	font-family: georgia;
}
input#submit {
	color: #A0EDC6;
	text-shadow: 1px 2px 2px #ffffff;
	border: 100px solid #b2b2b2;
	border-radius: 300px; 
	background-color: #A0EDC6;
	font-size: 10em;
	font-family: georgia;
}
input#button {
color: #A0EDC6;
	text-shadow: 1px 2px 2px #ffffff;
	border: 100px solid #b2b2b2;
	border-radius: 300px; 
	background-color: #A0EDC6;
	font-size: 10em;
	font-family: georgia;
}
footer {
	background-color: #A0EDC6;
	padding: 18px;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 125%;
	font-style: georgia; 
	text-align: right;  
	background-color: #ecf6f6;
}